<!doctype html>
<html lang="en">
  <head>
    <title>{% block head_title%}eCommerce{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/css.html' %}


  </head>
  <body>
    {% include 'base/nav.html' with brand_name='eCommerce' %}
    <div class='container'>
    {% block content %}
    {% endblock content %}
  </div>
  {% include 'base/js.html' %}
  <script type="text/javascript">
    $(document).ready(function(){
      //auto-search//
      var searchForm=$('.search-form')
      var searchInput=searchForm.find("[name='q']")
      var typingTimer
      var typingInterval=1500
      var searchBtn=searchForm.find("[type='submit']")
      searchInput.keyup(function(event){
        clearTimeout(typingTimer)
        typingTimer=setTimeout(performSearch,typingInterval)
        
      })
      searchInput.keydown(function(event){
        clearTimeout(typingTimer)       
      })
      function displaySearching(){
        searchBtn.addClass('disabled')
        searchBtn.html("<i class='fa fa-spin fa-spinner'></i>Searching...")       
      }
      function performSearch(){
        displaySearching()
        var query=searchInput.val()
        setTimeout(function(){
          window.location.href='/search/?q='+query 
        },1000)
              
      }





      //ajax//
      var productForm=$('.form-product-ajax')
      productForm.submit(function(event){
        event.preventDefault();
        var thisForm=$(this);
        var actionEndpoint=thisForm.attr('data-endpoint');
        var httpMethod=thisForm.attr('method');
        var formData=thisForm.serialize();
        $.ajax({
          url:actionEndpoint,
          method:httpMethod,
          data:formData,
          success:function(data){
            console.log('success')
            console.log(data)
            var submitSpan=thisForm.find('.submit-span')
            if(data.added){
              submitSpan.html("<button type='submit' class='btn btn-link'>Remove</button>")
            }else{
              submitSpan.html("<button type='submit' class='btn btn-success'>Add to cart</button>")
            }

            var navbarCount=$('.navbar-cart-count')
            navbarCount.text(data.cartItemsCount)

            var currentPath=window.location.href
            if (currentPath.indexOf('carts') != -1){
              refreshCart()
            }
          },
          error:function(errordata){
            console.log('error')
            console.log(errordata)
          }
        })

      })
      function refreshCart(){
        console.log('in current cart')
        var cartTable=$('.cart-table')
        var cartBody=cartTable.find('.cart-body')
        var refreshCartUrl='/carts/api/'
        var refreshCartMethod='GET'
        var data={}
        $.ajax({
          url:refreshCartUrl,
          method:refreshCartMethod,
          data:data,
          success:function(data){
            console.log('success')
            console.log(data)
            var hiddenCartItemRemoveForm=$('.cart-remove-form')
            if(data.products.length>0){
              var cartProducts=cartTable.find('.cart-products')
              cartProducts.html('')
              i=data.products.length
              $.each(data.products,function(index,value){
                console.log(value)
                var CartItemRemoveForm=hiddenCartItemRemoveForm.clone()
                CartItemRemoveForm.css('display','block')
                CartItemRemoveForm.find('.cart-product-id').val(value.id)
                cartBody.prepend("<tr><th scope=\"row\">"+i+"</th><td><a href='"+value.url+"'>"+value.name+"</a>"+CartItemRemoveForm.html()+"</td><td>"+value.price+"</td></tr>")
                i--
              })
              
              var cartSubtotal=cartTable.find('.cart-subtotal')
              var cartTotal=cartTable.find('.cart-total')
              cartTotal.text(data.total)
              cartSubtotal.text(data.subtotal)
            }else{
              window.location.href='/carts/'
            }
          },
          error:function(errordata){
            console.log('error')
          }
        })
      }
    })
  </script>
  </body>

</html>