{% extends 'base.html' %}
{% block head_title %}Login | {{ block.super }}{% endblock head_title %}
{% block content%}
    <div class='text-center'>
      <h1>Log In</h1>
    </div>

    <div class='row'>
      <div class='col-12 col-md-6 ml-auto mr-auto'>
      <form method='POST' action='{{ next }}'>{% csrf_token %}
        {{ form.as_p }}
        <div class='row'>
        <div class='col-12 col-md-6 ml-auto mr-auto'>       
        <button type='submit' class='btn btn-dafault'>Submit</button>
        </div>
      </div>
      </form>
      </div>
    </div>
{% endblock content %}
