{% extends 'base.html' %}
{% load static %}
{% block head_title %}Products | {{ block.super }}{% endblock head_title%}
{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-12 my-3'>
			<h1>Products Viewed History</h1>
			<hr/>
		</div>
				{% for obj in object_list %}
				<div class='col'>
					{% include 'products/snippets/card.html' with instance=obj.content_object %}
					{% if forloop.counter|divisibleby:3 %}
				</div></div><div class='row'>
					{% else %}
				</div>
					{% endif %}
				{% endfor %}		
	</div>
</div>
{% endblock content %}